nav a img {
  display: none;
}

div.navbar__main {
  display: none;
}

img.attachment-full.size-full.lozad {
  display: none;
}

div.intercom-bubble {
  display: none;

}

img.attachment-large.size-large.lozad {
  display: none;
}

button.navbar__toggle {
  display: none;
}